@import "../../styles/variables.css";

.ProjectCardList{
    display: flex;
    max-width: 1268px;
    /* max-width: calc(100% - 320*2px); */
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    margin-top: 140px;
}

.ProjectPlus{
    font-family: Pretendard;
    border-radius: 16px;
    width: 396px;
    height: 259px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--color-gray4);
    padding-top: 30px;
    box-sizing: border-box;
}

.ProjectPlus img{
    height: 80px;
    width: 80px;
}
.ProjectPlus h4{
    color: var(--color-gray5);
}

